.container-fluid{
  padding: 0;
  margin: 0;
}

nav{
  background-color: rgba(23,23, 0, 0.0);
  color: white;
}

.btn-symptom{
  /*margin: 5px;*/
  width: 110px;
  border-radius: 0px;
}

.symptoms-btns{
  display: flex;
  flex-wrap:wrap;
  justify-content:flex-start;
}

.symptoms-selection{
  justify-content: center;
}

.search-area{
  margin-bottom: 2%;
}

body{
  background: url('https://img.freepik.com/free-vector/dark-wavy-background-gradient_23-2148385755.jpg?size=626&ext=jpg') no-repeat;
  background-size: cover;
  display: block;
  height: 100vh;
}

@media screen and (max-width:600px){
  #searchBTN{
    width:25%;
    height: 40px;
  }
  #searchBox{
    height: 40px;
    margin-bottom: 1%;
    width:50%;
    margin-left: 12%;
  }
  .symptoms-btns{
    justify-content:center;
  }
  .search-area{
    margin-bottom: 2%;
  }
}

.bg-texture{
  background: url("images/carbon-fibre.png") repeat;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
}

.arrow-down{
  animation: 2s linear forwards;
  cursor: pointer;
  animation: bounce infinite; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.position-absolute{
  top:0;
  right:0;
}

.close-btn{
  background: rgba(0,0,0,0.7);
  radius:20px;
  overflow: visible;
  cursor:pointer;
  color:white;
  font-size: 12px;
}
